/*Mobile first*/
body{
    background: url(media/clock.jpeg) center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: #fff;
}

/*Title*/
#header{
    text-align: center;
/*    font-size: 5em;*/
   font-size: 7vw
}

/*Lap time*/
#lap{
    text-align: right;
    font-size: 4vw;
/*    font-size: 3em;*/
    padding-right: 1%;
}

/*Main Time*/
#timer{
	text-align: center;
    font-size: 10vw;
/*    font-size: 8em;*/
}

/*Buttons*/
#controlsContainer{
	margin: 0px auto 6vh auto;
}

.control{
    height: 8vw;
    width: 15vw;
    text-align: center;
    padding: 16% 0;
    font-size: 4vw;
/*    font-size: 2em;*/
    cursor: pointer;
}

.control:active{
    color: #A08067;
}

/*Laps*/
#laps{
    max-height: 19vh;
    overflow-y: scroll;
}

.lap{
    height: 1vw;
    border-bottom: 0.2vw solid white;
    margin: 12px;
    font-size: 2vh;
    padding-bottom: 4vh;
}

.laptitle{
    float: left;
}

.laptime{
    float: right;
}

@media(max-width:767px){
    
    #lap{
        font-size: 5vw;
    }
    
    #controlsContainer {
        margin: 1.5vh auto 10vh auto;
    }
    
    .control{
        font-size: 8vw;
    }
    
    #laps {
        max-height: 50vh;
    }
}